# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
# Level Bot (Pdnode user directory)
LEVEL_BOT_URL=http://49.12.146.53:8765
LEVEL_BOT_API_KEY=eb986a91f4a635b5c688db6a1c3d88506b5cc922ab4901804b5fd82f02f45de4
MAIL_MAILER=smtp
MAIL_FROM_NAME=Pdnode Elections
MAIL_FROM_ADDRESS=admin@system.pdnode.com
SMTP_HOST=mail.pdnode.com
SMTP_PORT=465SMTP_USERNAME=admin@system.pdnode.com
SMTP_PASSWORD=change-me
